@import "scss-variables/colors.scss";
@import "scss-variables/font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: $font-family;
  color: $cream;
  font-size: 1.8rem;
  background-color: $darkest-blue; //$main-gradient;
}

svg {
  height: 1em;
  fill: currentColor;
}

.input {
  color: #222;
}

.flex {
  display: flex;

  &.space-betweeen {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

.max-width-tablet {
  max-width: 76.8rem;
}
