@use 'scss-variables/colors' as *;
@use 'scss-variables/effects' as *;

.form-field {
    display: inline-grid;

    input {
        font-size: 1.4rem;
        font-weight: 500;
        background-color: inherit;
        border: none;
        border-color: none;
    }

    label {
        font-size: 1.3rem;
    }
}
