$dark-grey: #3e3e3e;
$white: #fff;
$blue: #1a75cf;
$copyright-blue :#60B0FF;
$light-blue :#60B0FF;
$dark-blue: #0d3b68;
$darker-blue: #071e34;

$main-gradient: linear-gradient(149deg, $dark-blue, $darker-blue);
$login-gradient: linear-gradient(180deg, $blue, $dark-blue);
