
$white: #fff;


$cream: #e2dad4;
$darkest-blue: #0f1617;
$dark-blue: #395462;
$blue: #7da1b1;
$mint-green: #cce0dd;
//$red: #701217;
$error:darken( indianred,5);

$main-gradient: linear-gradient(149deg, $dark-blue, $darkest-blue);
